<!doctype html>

<html>
<head>
 <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='134478311-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

  <title>Plant Explorer</title>	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        

</head>
  <body class="main" id="main" style="background-image: url('/images/Bg2.jpg')">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Plant Explorer</h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="about" class = "header">About us</a></li>
                  <li><a href="statistics" class = "header">Statistics</a></li>
                  <li><a id="login" href="login" class = "header"></a></li>
                <script>
                var field = 'u';
                var url = window.location.href;
                if(url.indexOf('username') != -1){
                  document.getElementById("login").innerHTML = "Hello Rob";
                }
                else{
                  document.getElementById("login").innerHTML = "Log In";
                }
                </script>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Be a scientist</h1>
              <h3 class="cover-heading" >Explore your surrounding, find plants and ...</h3>
               <!-- a type="submit" href="id?image=flower" class="btn btn-lg" style="background-color: #e0b42f; color: #fff"><strong>Helps us clasify and identify plants.</strong></a>
            <p class="lead" style="margin-top: 7px; margin-bottom:7px">OR</p-->
            <p class="lead" style="margin-bottom: 0px">
                <a href="upload" class="btn btn-lg" style="background-color: #86b94c; color: #fff;">Upload Picture to identify the plant</a>
             </p>   
              <p class="lead" style="margin-top: 7px; margin-bottom:7px; color: #555; margin-left:150px">OR</p>
              <p class="lead">
                <a type="submit" href="map" class="btn btn-lg" style="background-color: #e0b42f; color: #fff" onclick="handleMapClicks()"><strong>View the found Plants on the Map</strong></a>
            </p>
          </div>
  <script>
    function handleMapClicks() {

  ga('send', 'event', {
    eventCategory: 'Map',
    eventAction: 'click',
  });
  ga('send', 'event', {
    eventCategory: 'MapBtn',
    eventAction: 'click',
  });

}
</script>
          <div class="mastfoot">
            <div class="inner">
              <p>© Plant App 2016 </p>
            </div> 
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87942906-1', 'auto');
  ga('send', 'pageview');
    </script>
  </body>
</html>
