<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->   
</head>

<body id="main" style="background-color:#fff; background-image: url('/images/Bg.jpg')">

    <div class="container">
        <div class="cover-container-quiz">
            <div class="masthead clearfix" style="position: relative">
                <div class="inner">
                    <h1 class="masthead-brand page-header"><a href="index">Plant App</a></h1>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="map?image=tree" style="color:#e0b42f">Plant Map</a></li>
                            <li><a href="about">About us</a></li>
                            <li><a href="help">Help</a></li>
                            <li><a href="login">Log In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
   
<div id="alertBox">
</div>
        <div class="project jumbotron">
             <div id="alert" class="alert alert-success alert-dismissable" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                 Thank you for the confirmation. The image is sucessfully uploaded to the database.<br> <a href="" id="map" style="text-decoration: underline; color:#428bca">See the image on the Map</a> or <a href="index" style="text-decoration: underline; color:#428bca">Go back to Homepage</a>. 
        </div>
            <h2><p>Based on your answers, here is what we think the plant is: </p></h2>
            <div class="row row-centered ">
                <div class="col-sm-6 col-md-4 col-centered">
                    <div class="thumbnail">
                        <img id="resultImg" src="" alt="...">
                        <div class="caption">
                            <h3 id="plantName"></h3>
                            <p><button onclick="alertBox()" id="btnConfirm" class="btn btn-primary" role="button">Confirm and Upload to Database</button><a id="notConfirm" href="id" class="btn btn-default" role="button">This is not the plant</a></p>
                        </div>
                    </div>
                    <p><a id="wikiLink" href="" style="text-decoration: underline; color:#428bca; font-size: 16px">Wikipedia article to learn more about the plant</a>
                     <script> 
                    function getParams() {
                    var idx = document.URL.indexOf('?');
                    var params = new Array();
                    if (idx != -1) {
                        var pairs = document.URL.substring(idx + 1, document.URL.length).split('&');
                        for (var i = 0; i < pairs.length; i++) {
                                    nameVal = pairs[i].split('=');
                                    params[nameVal[0]] = nameVal[1];
                                }
                            }
                            return params;
                        }

                    params = getParams();
                    resultPlant = unescape(params["resultPlant"]);
                    var wiki = unescape(params["wiki"]);
                    var image = unescape(params["image"]);
                    document.getElementById("resultImg").src="/images/"+resultPlant+".jpg";
                    document.getElementById("wikiLink").href="https://en.wikipedia.org/wiki/"+wiki;
                    document.getElementById("plantName").innerHTML=wiki.split("_").join(" ");
                    document.getElementById("notConfirm").href="id?image="+image;
                    document.getElementById("map").setAttribute('href', "map?image="+resultPlant+"&fromUpload=true");

                    </script>
                </div>
            </div>
        </div>
       
    </div>
        <script>
   function alertBox() {
       document.getElementById('alert').style.display = 'block';
       document.getElementById('btnConfirm').setAttribute("disabled","disabled");
       document.getElementById('notConfirm').setAttribute("disabled","disabled");
   }
    </script>
    <script src="/js/introHCI.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>
</html>
