<!doctype html>

<html>
<head>
  <title>Plant Explorer - Statistics</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
    <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('main').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        window.onload = autoResizeDiv;
        autoResizeDiv();
    </script>
</head>
<body id="main" style="background-image: url('/images/Bg2.jpg')">
   
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container-quiz">
                    <div class="masthead clearfix" style="position: relative">
                        <div class="inner">
                            <h1 class="masthead-brand"><a href="index">Plant App</a></h1>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li><a href="map?image=tree" class = "header">Plant Map</a></li>
                                    <li><a href="about" class = "header">About us</a></li>
                                    <li><a href="statistics" class = "header">Statistics</a></li>
                                    <li><a id="login" href="login" class = "header">Login</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="container">
        <div class="project jumbotron">
            <script src="/js/jquery-1.11.0.js"></script>
            <script src="http://code.highcharts.com/highcharts.js"></script>
            <script src="http://code.highcharts.com/modules/exporting.js"></script>

            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <script>
              $(function () { 
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Fruit Consumption'
                },
                xAxis: {
                    categories: ['Apples', 'Bananas', 'Oranges']
                },
                yAxis: {
                    title: {
                        text: 'Fruit eaten'
                    }
                },
                series: [{
                    name: 'Jane',
                    data: [1, 0, 4]
                }, {
                    name: 'John',
                    data: [5, 7, 3]
                }]
            });
        });
            </script>
          
        </div>
         
            </div>
        </div>
     

        <div class="mastfoot">
            <div class="inner">
                <p>© Plant App 2016 </p>
            </div> 
        </div>      
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
